name: clean-archit-project

services:
  db:
    image: postgres:16
    container_name: clean-archit-project-db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: clean-arch
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build:
      context: .
      dockerfile: api.dockerfile
    container_name: clean-archit-project-api
    image: clean-archit-project-api:latest
    depends_on:
      - db
    env_file:
      - ./apps/backend/.env
    ports:
      - "8080:3000"
    networks:
      - app_network
    restart: unless-stopped

  frontend:
    build:
      context: .
      dockerfile: web.dockerfile
    container_name: clean-archit-project-web
    image: clean-archit-project-web:latest
    depends_on:
      - backend
    ports:
      - "8081:5173"
    networks:
      - app_network
    restart: unless-stopped

volumes:
  postgres_data:

networks:
  app_network:
    driver: bridge


